body{
    display: flex;
}

div{
    border: 1px solid #000;
    width: 200px;
    height: 200px;
}

@media (orientation: landscape) {
    body{
        flex-direction: row;
    }
}

@media (orientation: portrait){
    body{
        flex-direction: column;
    }
}

