* {
    color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



body {
    display: flex;
    background-color: #555;
    overflow: hidden;
    height: 100vh;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1466611653911-95081537e5b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-position: center;
}

#container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: auto;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(50, 50, 50, 0.5);

    box-shadow: 5px 5px 15px #000;
}

#busca {
    margin-top: 10px;
}

h2 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;

}

input {
    margin-bottom: 15px;
    width: 230px;
    padding: 3px;
    color: #000;

}

button {
    color: #000;
    border-radius: 5px;
    border: 0.5px solid #555;
    margin: 0px 0px 15px 5px;

    padding: 3px;

}

p {
    margin-bottom: 10px;
    font-size: 20px
}

#temp {
    font-weight: 600;
    font-size: 25px;
}

h2, p {
    text-shadow: 2px 2px 2px #000;
}