* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color:#000;
  }

/*HEADER*/

header {
  display: flex;
  width: 100%;
  max-width: 1600px;
  height: 400px;
  margin: 0 auto 0 auto;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#nome {
  display: flex;
  width: 100%;
  top: 50px;
  align-items: center;
  justify-content: center;
}

#nome h1 {
  flex: 1;
  display: flex;
  width: 100%;
  color: rgb(25, 150, 0);
  justify-content: center;
  font-size: 120px;
  text-shadow: 3px 3px 3px rgb(230, 255, 6), 6px 6px 6px rgb(255, 6, 6);
  padding: 10px;
  text-size-adjust: inherit;
}

#foto {
  display: flex;
}

#frase{
    border-top: 2px solid greenyellow;
    border-bottom: 2px solid greenyellow;
    
}

#frase p {
  display: flex;
  color: white;
  font-size: 40px;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 10px;
  font-style: italic;
}

.frase1 {
  animation: frases2 30s alternate infinite linear;
}

.frase2 {
  position: absolute;
  animation: frases1 30s alternate infinite linear;
}

@keyframes frases1 {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  52% {
    position: relative;
    opacity: 1;
  }
  100% {
    position: relative;
    opacity: 1;
  }
}

@keyframes frases2 {
  0% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  52% {
    position: absolute;
    opacity: 0;
  }
  100% {
    position: absolute;
    opacity: 0;
  }
}

/*HISTORIA*/

#historia{
    padding-bottom: 50px;
    border-bottom: 2px solid greenyellow;
          
}

#historia p {
  display: flex;
  height: auto;
  max-width:1200px;
  margin: auto;
  color: #fff;
  font-size: 20px;
  padding: 30px 30px 0px 30px;
}



#video{
   
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*Footer*/

footer{display: flex;
    color: rgb(245, 245, 245);
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-top:  2px solid greenyellow;

}
