* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

html{
  background: linear-gradient(90deg, #020024 0%, rgba(9,9,121,1) 35%, #9900ff 100%);
 }
header{
  max-width: 800px;
  min-width: 400px;
  margin: auto;
  padding: 20px 20px 0px;
}
h1{
  display: flex;
  justify-content: center;
  background-color: #1f2c4b;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #000;
  border: #555 1px solid;
  padding: 20px;
  text-align: center;
}  
p, h1{
  color: #fff;
}

span{
  color: #fff;
}

#container {
  max-width: 800px;
  min-width: 400px;
  margin: auto;
  padding: 20px;

}

.tabela, #inputs {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin:auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #1f2c4b;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #000;
  border: #555 1px solid;
}

.tabela {
  display: none;
}

.table {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  margin-bottom: 10px;
}

.codigo, .descricao, .quantidade, .valorUnitario, .valorTotal {
  display: flex;
  border: 1px solid #555;
  min-width: 120px;  
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 5px;

}

.codValue, .descValue, .quantValue, .valorValue, .totalValue {
  display: flex;
  width: 100%;
  padding-left: 20px;
  height: 100%;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #555;

}

#inputDesc {
  width: 100%;
  min-height: 30px;
  margin: 5px 0 10px 0;
  padding-left: 10px;
  outline-color: #8c00ff;
  

}

#inputValor, #inputCode, #inputQuant {
  width: 150px;
  height: 30px;
  margin: 5px 0 10px 0;
  padding-left: 10px;
  outline-color: #8c00ff;
}





button {
  height: 30px;
  width: 70px;
}