* {
  box-sizing: border-box;
}

.container {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(190, 178, 189);
  gap: 10px; 
  grid-auto-rows: 100px;
  
}

.item {
  background-image: linear-gradient(to right, #00ff22, transparent, #1202f0);
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  
  
}

.item1{
  grid-column-start: 1;
  grid-column-end: 3;
}

.item2{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1; /*quando usar o grid-row tem q usar obrigatoriamente o grid-column */
  grid-row-end: 4;
}

.item7{
  grid-column-start: 1;
  grid-column-end: 4;
}