*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


form{
    
    padding: 12px;
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: #ddd;
    border-radius: 10px;
}

input{
    height: 30px;
}