*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
}

/*font-family: 'Montserrat', sans-serif*/
/*max-width: 1140px*/

body{
    overflow-x: hidden;
}

header{
   
    height: 100px;
    background-color: #000;
    color: #fff;
    
}

.header{
    display: flex;
    max-width: 1140px;
    height: 100px;
    margin: auto;
    align-items: center;
    
}

.logoimg{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: #b28756;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.logo{
    width: 100px;
    
}

.menu{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    
}

.menu ul, .menu li {
    list-style: none;
   

}

.menu ul{
    display: flex;
    gap: 20px;

}

.menu li a{
    display: flex;
    align-items: center;
    height: 100px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    border-bottom: #000 5px solid;
    border-top: #000 5px solid;
    font-weight: 600;
    transition: 0.5s;
    
}

.menu .active a{
    border-bottom: #b28756 5px solid;
}

.menu li a:hover{
    border-bottom: #b28756 5px solid;
    color: #ccc;
}

.menu-opener{
display: none;
}



@media(min-width:481px) and (max-width:1105px){
 
    .menu-opener{
        display: flex;
        width: 40px;
        margin-right: 30px;
    }

    .logo{
        
        margin-left: 30px;
    }

    nav{
        display: none;
        position: absolute;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.8);
        width: 70%;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
        
    }

    .menu nav ul{
        flex-direction: column;
        align-items: center;
        gap: 0;
        background-color: rgba(0, 0, 0, 0.8);
        
    }

    .menu nav ul li a{
        border: none;
        height: 60px;
        
           
    }
}

@media(max-width:480px){

    .menu-opener{
        display: flex;
        width: 40px;
        margin-right: 30px;
    }

    .logo{
        margin-left: 30px;
    }

    nav{
        display: none;
        position: absolute;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.8);
        width: 70%;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
        align-items: center;
        justify-content: space-around;
        
    }

    .menu nav ul{
       
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        
        
    }

    .menu nav ul li a{
        
        border: none;
        height: 60px;
        
           
    }
}


/*-------------------------------*/

.banner{
    background-color: #555;
    height: calc(100vh - 100px);
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
   

}



.banner .sliders{
    
    width: 1000vw;
    height: 100%;
   
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slide-area{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;

}

.banner h1{
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
}

.banner h1 span{
   
    color: #b28756;
}

.banner h2{
    text-transform: uppercase;
    margin-top: 30px;
}

.banner a{
    display: block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 50px;
    text-decoration: none;
    padding: 20px 70px;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.2s;
}

.banner a:hover, .button:hover{
    transform: scale(1.1);
    box-shadow: #00000094 5px 5px 10px;
}

.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 50%;
    cursor: pointer;
    
}

.banner .pointer.active{
    background-color: #b28756;
}

@media(min-width:500px) and (max-width:1105px){
    .banner h1{
        font-size: 50px;
    }

}

@media(max-width:500px){
    .banner h1, .banner h2{
        font-size: 40px;
    }

}



/*-----------------------------------*/


.default{
    margin: auto;
    height: auto;
    padding: 60px 0px;
    padding-bottom: 100px;
   
    
    
}

.default .section-title, .default .section-desc{
   text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.default .section-title{
    font-size: 30px;
    font-weight: bold;
}

.default .section-desc{
    font-size: 15px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 40px;

}

.default .section-body{
    margin: auto;
    max-width: 1140px;
    height: auto;
    
}

.default.light{
    background-color: #ffffff;
    display: block;
    height: auto;
    
    
}

.default.light .section-title,  .default.light .section-body{
    color: #000;
}

.default.dark{
    background-color: #000;
    
}

.default.dark .section-title, .default.dark .section-body{
    color: #fff;
}



/*------------------------------------*/

.section-aboutus{
    display: flex;
    
}

.section-aboutus--left{
    flex:1;
    
}

.section-aboutus--rigth{
    width: 500px;
    display: flex;
    justify-content: center;
}

.section-aboutus--rigth img{
    width:auto;
    height: fit-content;
    box-shadow: #333 0px 5px 10px;
    
}

.section-aboutus--left p{
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.section-aboutus--left .area-button{
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button{
    display: block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    padding: 20px 70px;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.2s;
    justify-content: center;
}


@media(max-width:800px){
    .section-aboutus{
     flex-direction: column;
     padding: 10px;
     align-items: center;
            
    }

    .area-button{
        margin-bottom: 40px;
    }
}
    @media(max-width:480px){
        .section-aboutus--rigth img{
            width: 300px;
        }
    }

/*---------------------------------------*/

.section-services{
   
    display: flex;
}

.section-service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
    margin-top: 30px;
}

.section-service:first-child{
    border-left: 1px solid #333;
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 20px;

}

.section-service p {
    margin-top: 10px;
    font-size: 15px;
    color: #999;
}

@media(min-width:450px) and (max-width:1105px){
    .section-services{
        flex-wrap: wrap;
    }
    .section-service{
        min-width: 50%;
        margin-bottom: 40px;
        border: none;
    }
}

@media(max-width:480px){
    .section-services{
     flex-direction: column;
    }
     }
 

/*-----------------------------------*/


.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    



}

.section-projects--filters{
    border: 1px solid #999;
    border-radius: 30px;
    background-color: #eee;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul, .section-projects--filters li {
    list-style: none;
   
}

.section-projects--filters li {
   display: inline-block;
   padding: 10px;
   text-transform: uppercase;
   font-size: 15px;
   border-left: #ccc 1px solid;
   color: #555;
   border-bottom: 3px solid #eee;
   cursor: pointer;
   margin-left: -4px;
   
}

.section-projects--filters li:first-child{
    border-left: 0;
}

.section-projects--filters li:hover{
    border-bottom: #b28756 3px solid;
}

.section-projects--filters li.active{
    border-bottom: #b28756 3px solid;

}

@media(max-width:480px){
    .section-projects--filters li{
        font-size: 10px;

    }
     }
 

/*--------------------------*/


.section-projects--photos{
    display: flex;
    flex-wrap: wrap; /*quebra a linha e vai para baixo*/
    width: 100vw;
    max-width: 1140px;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 30px;
    height: auto;
}

.section-projects--photo{
    width: 280px;
    

}

.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
   
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    
    
}

.section-projects--photoinfo h5{
    font-size: 25px;
    font-weight: 600;
    
}

.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
    
}



/*----------------------------------*/

.bg-team{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area .color-alt{
    color: #ccc;
}


.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
    
}


.section-team-area{
    
    background-color: rgba(0, 0, 0, 0.719);
    padding: 50px 0px;
}

.section-team .sliders{
    
    width: 1000vw;
    height: 100%;
   
}

.section-team .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}

.section-team .slide-area{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    flex-direction: column;
    padding: 30px;

}

.section-team-area .sliders-pointers, .section-client .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-team-area .pointer, .section-client .pointer, .section-box .sliders-pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 50%;
    cursor: pointer;
    
}

.section-team-area .pointer.active, .section-client .pointer.active{
    background-color: #b28756;
}

.section-team--avatar{
    width: 150px;
    height: auto;
}

.section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-team--role{
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

.section-team--social{
    margin-top: 20px;
}

.section-team--social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #555;
    border-radius: 13px;
    margin-right: 10px;
}

.section-team--social a:hover{
    background-color: #b28756;
}


@media(min-width:450px) and (max-width:1105px){
    .section-team{
        width: 580px;
    }
}

@media(max-width:450px){
    .section-team{
        width: 290px;
    }
}


/*---------------------------------*/

.default.light.bgc{
    background-color: rgba(131, 128, 128, 0.151);
    width: 100%;
}

.section-client{
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    

}


.section-client--avatar{
    width: 150px;
    height: auto;
}

.section-client--name{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 600;
    font-weight: bold;
}

.section-client--role{
    font-size: 18px;
    color: #222;
    margin-top: 5px;
    font-weight: 600;
}

.quote{
    margin-top: 30px;
}

.section-client--coment{
    text-align: center;
    margin-top: 20px;
    padding: 0px 200px;
    color: #555;
    font-weight: 600;
    font-size: 15px;
}

@media (max-width:480px){
    .section-client--coment{
        padding: 20px;
    }
}
/*---------------------------------*/

.section-empresas{
    
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-top: #b6b3b3 1px solid;
    border-bottom: #b6b3b3 1px solid;
}

.section-empresas img{
    padding: 50px;
}

/*--------------------------------*/

.section-price{
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section-prices{
    width: 270px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.section-prices--plan{
    font-size:25px;
    font-weight: 600;
    
}

.section-prices--value{
    font-size: 40px;
    font-weight: bolder;
    
}

.section-prices--plan, .section-prices--value, .section-prices span, .section-prices p, .section-prices a{
    margin-bottom: 15px;
} 

.section-price span{
    color: #999;
    text-transform: uppercase;

}

.section-prices p{
   color: #555;
} 

.section-prices--button{
    padding: 20px 40px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 20px;

}

.section-prices--button:hover{
    background-color: #b28756;
}

@media(min-width:450px) and (max-width:1146px){
    .section-prices{
 width: 450px;
        
    }


}


/*------------------------------------------*/

.section-box{
    
    display: flex;
    height: auto;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #b6b3b3;

}

.section-box-image{
   
    width: auto;
    height: 400px;
    
}

.section-box-image img{
    
    padding: 20px;
    width: auto;
    height: 400px;
    
}

.section-box--contest{
    
 margin-top: 40px;
 height: 408px;
 
    
}

.section-box--subtitle{
   display: inline-flex;
   align-items: center;
 }

 .section-box--subtitle h3{
    font-size: 30px;   
   
  }

.section-box--subtitle img{
    width: 50px;
    height: auto;
    padding: 5px;
    margin-right: 30px;
        
 }

 .section-box--text{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    gap: 10px;
    margin-bottom: 20px;
    color: #666;
 }

 .sliders-pointers2{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sliders-pointers2 .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 50%;
    cursor: pointer;
    
}

.sliders-pointers2 .pointer.active{
    background-color: #b28756;
}

.button-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.button-box a{
    display: block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    padding: 20px 70px;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.2s;
    justify-content: center;
}

.button-box a:hover{
    transform: scale(1.1);
    box-shadow: #00000094 5px 5px 10px;
}

/*----------------------------------*/

.section-some-facts{
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    
}

.section-some-facts--service{
    flex: 1;
    text-align: center;
    margin: 30px;
   
    
}

.section-some-facts--service span{
    font-size: 50px;
    font-weight: bolder;
    color: #b28756;
    
}

.section-some-facts--service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 20px;

}

.section-some-facts--service p {
    margin-top: 10px;
    font-size: 15px;
    color: #999;
    margin-top: 20px;
}



/*---------------------------------*/

.links{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid #b6b3b3;
}

.links-share, .links-social{
    display: flex;
    align-items: center;
}

.links-share img{
    width: 30px;
    height: auto;
    margin-right: 20px;   
    
}
.links-share p{
    text-transform: uppercase;
    color: #999;
    font-weight: 600;
    margin-right: 50px;
}

.links-social{
    margin-right: 30px;
}

.links-social a{
    display: flex;    
    padding: 15px;
    border-radius: 100%;
    align-items: center;
    margin-right: 10px;
        
}

.links-social a img{
   
    width: auto;
    height: auto;
   
}

.links-social p{
    font-weight: bolder;
    color: #999;
    font-size: 13px;
}
.twitter a{
    background-color: #33c4f0;
}
.linkdin a{
    background-color: #107db5;
}

.fb a{
    background-color: #356397;
    padding: 14px 19px;
}

.gg a{
    background-color: #f00;
    
}

.pinterest a{
    background-color: #b71d29;
}

@media(max-width:820px){
    .links{
            
        flex-direction: column;
    }
    
    .links-share, .links-social, .twitter, .linkdin, .fb, .gg, .pinterest{
        margin-bottom: 15px;
    }
}

/*-----------------------------*/

.section-form{
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    color: #999;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}

.section-form input{
    border: none;
    outline: 0;

    
}

.form-contact{
    display: flex;
    gap: 40px;
}
.form-contact--name, .form-contact--email, .form-subject, .form-message{
    border-bottom: 3px solid #b6b3b3;
}

.form-contact--name input, .form-contact--email input{
    width: 400px;
    padding: 10px;
    
}

.form-subject, .form-message{
    margin-top: 40px;
    
}

.form-subject input, .form-message input{
    width: 866px;
    padding: 10px;
  
    
}



form{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

form .button{
    text-align: center;
    width: 300px;
    margin-top: 50px;
}

@media(max-width:1105px){
    form{
        width: 100%;
        padding: 50px;
    
    }
    .form-subject, .form-message{
        display: flex;
        width: 100%;
    
    }

    .form-contact{
        width: 100%;
      
    }

    .form-subject input, .form-message input{
      height: 200px;
             
    }
    
    

    .form-contact{
        flex-direction: column;
    }

    

}


/*--------------MAPS----------------*/

.section-map{
    background-image: url(../images/mapa.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.section-map--area{
    width: 100vw;
    max-width: 1140px;
    margin: auto;

}

.section-map--info{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    color: #666;
}

.section-map--info-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    
}

.section-map--info-item-img{
    display: flex;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    background-color: #999;
    margin-right: 15px;
}

.section-map--info-item-img img{
    width: 15px;
    height: auto;
}

.section-map--info-item a{
    text-decoration: none;
    color: #666;
}

@media(max-width:1105px){
.section-map--info{
    width: auto;
    display: flex;
    flex-direction: column;
    
}
.section-map{
    padding: 30px;

}

.section-map--area{
    width: auto;
}

.section-map--info-item:last-child{
    margin-bottom: 0;

}

}

/*-----------FOOTER-------------*/
