table{
    width: 500px;
    border: 1px solid black;
    background-color: yellow;
}
tbody{
   background-color: darkgray;
}

thead{
    background-color: aquamarine;
}

th{
    border: 1px solid green;
}

td{
    border: 1px solid red;
    height: 50px;
    text-align: center;
}

tbody tr:hover{
   background-color: rgb(82, 199, 141);
}

